* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: rgb(232, 223, 202);
    font-family: "Poetsen One", sans-serif;
}
nav {
    background-color: rgb(232, 223, 202);
/*     box-shadow: 3px 3px 5px black; */
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%; /* Match height of li items */
    padding: 0 30px;
    text-decoration: none; /* Removes default underline */
    display: flex;
    align-items: center;
    color: white;
}

nav a:hover { /* Hover effect to change background color */
    background-color: rgb(185, 148, 112);
}

nav li:first-child{
    margin-right: auto; /* Auto: automatically calculate the available space to the right and consume all of it */
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.09);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgb(185, 148, 112);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.menuButton {
    display: none;
}

/* Home Page Start */

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh; 
}

.home-title {
    color: rgb(181, 193, 142);
    font-size: 80px;
}

.intro {
    color: rgb(148, 137, 121);
    margin-top: 100px;
    
}

#name {
    color: rgb(97, 150, 166);
    font-size: 2rem;
    margin-top: 10px;
  margin-bottom: 10px;
}

#job {
    font-size: 20px;
}

#mern {
    color: rgb(97, 150, 166);
    font-size: 1.5rem;
}

/* About Start */

.about .section-container {
    /* background-color: white; */
    min-height: 100vh;
    max-width: 1000px;
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.about .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about .subtitle {
    letter-spacing: 2px;
    color: rgb(148, 137, 121);
    font-weight: 600;
    margin-bottom: .5rem;
}

.about .title {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: rgb(181, 193, 142);
    margin-bottom: 1rem;
}

.about span {
    font-weight: 600;
    color: rgb(97, 150, 166);
}

.about .description {
    line-height: 1.5rem;
    color: rgb(148, 137, 121);
    margin-bottom: 2rem;
}

.image {
    display: grid;
    place-items: center;
}

.image img {
    width: min(25rem, 90%);
    border-radius: 100%;
}

/* Projects Start */

.projects {
    display: grid;
    place-items: center;
}

.projects .container {
    min-height: 100vh;
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-bottom: 5%;
}

.projects h1 {
    color: rgb(181, 193, 142);
    font-size: 4rem;
    margin-top: 10px;
    margin-bottom: 40px;

}

.project-title {
    color: rgb(97, 150, 166);
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
}

.projects .description {
    color: rgb(148, 137, 121);
    margin-top: 10px;
}

.grid-prop {
    color: rgb(64, 162, 227);
}

.grid-value {
    color: rgb(161, 195, 152);
}

.box1 img {
    height: 200px;
    width: 300px;
    float: left;
    margin: 0px 20px 10px 0px;
}

.box2 {
    justify-self: center;
}

.box2 img {
    height: 200px;
    width: 100%;
}

.box3 img {
    height: 300px;
    width: 250px;
    float: right;
    margin: 0px 0px 10px 20px;
}

.box4 {
    justify-self: center;
}
.box4 img {
    height: 600px;
    width: 900px;
}

.box5 img {
    height: 300px;
    width: 200px;
    float: left;
    margin: 0px 20px 10px 0px;
}

.box6 {
    justify-self: center;
}

.box6 img {
    height: 300px;
    width: 800px;
}

@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menuButton {
        display: block;
        position: fixed;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }

    .about .section-container {
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .image {
        grid-area: 1/1/2/2;
    }

    .projects .container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

